
#slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%;
}

.slide-control {
 
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
